<div class="navHeader">
    <a class="kbLogo" href="/user/{{user.id}}">
        <img  src="/images/kblogo.png"/>
    </a>
    <form class="searchForm" action="/search" method="GET">
        <input name="searchQuery" type="text" placeholder="Search"/>
        <select name="category">
            <option value="" disabled selected>Topic</option>
            {{#each categories}}
                <option value={{this.id}}>{{this.title}}</option>
            {{/each}}                   
        </select>
    </form>
    <div class="logoutForm"><a class="logoutBtn" href="/logout">Logout</a></div>
</div>