<!-- one reply -->
<div class="reply">
    <div class="rep-pfp">
        <!-- placeholder pfp for this reply -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg">
    </div>
    <div class="rep-msg">
        <p>Reply message placeholder</p>
    </div>
</div>