
<div id="single-result">
    <!-- shows a single result, replace placeholders as neccessary for a profile message -->
    <div id="pfp">
        <!-- placeholder image, replace with params -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg">
    </div>
    <div id="result">
        <div id="msg-title">
            <p>Title of this message</p>
        </div>
        <div id="topic">
            <p>topic</p>
        </div>
        <div id="msg-desc">
             <p>Message description placeholder</p>
        </div>
        <div id="date-posted">
            <p>Date posted</p>
        </div>
        <div id="num-replies">
            <!-- retrieve replies on click -->
            <button># replies</button>
         </div>
    </div>

    <!-- replies shown under result -->
    
</div>