<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Knowledge Base App</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- CSS rendering -->
     <link rel="stylesheet" type="text/css" href="/css/main.css">
    {{#if homeCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/home.css">
    {{/if}}
    {{#if profileCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/profile.css">
        <script src="/js/toggleReplies.js" defer></script>
    {{/if}}
    {{#if repliesCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/replies.css">
    {{/if}}
    {{#if resultsCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/results.css">
    {{/if}}
    {{#if searchResultsCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/searchResults.css">
        <script src="/js/toggleReplies.js" defer></script>
    {{/if}}
    {{#if usersHomeCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/usersHome.css">
        <script src="/js/toggleReplies.js" defer></script>
    {{/if}}
    {{#if newMessageCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/newMessage.css">
    {{/if}}
    {{#if allMessagesCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/allMessages.css">
    {{/if}}
    {{#if editProfileCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/editProfile.css">
    {{/if}}
    <script src="/js/main.js" defer></script>
    
</head>
<body>
    {{{ body }}}
</body>
</html>