<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Knowledge Base App</title>

    <!-- CSS rendering -->
    {{#if homeCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/home.css">
    {{/if}}
    
    
</head>
<body>
    {{{ body }}}
</body>
</html>