<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Knowledge Base App</title>

    <!-- CSS rendering -->
    {{#if homeCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/home.css">
    {{/if}}
    {{#if profileCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/profile.css">
    {{/if}}
    {{#if repliesCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/replies.css">
    {{/if}}
    {{#if resultsCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/results.css">
    {{/if}}
    {{#if searchResultsCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/searchResults.css">
    {{/if}}
    {{#if usersHomeCSS}} 
        <link rel="stylesheet" type="text/css" href="/css/usersHome.css">
    {{/if}}
    
    
</head>
<body>
    {{{ body }}}
</body>
</html>