<div id="main-container">

    <div id="kb-left-container">
        <div id="kb-title">
            <h1>knowledgeBase</h1>
        </div>
        <div id="kb-image-container">
            <img id="kb-img" src="/images/hand-holding-bunch-books-with-apple-top_1325-646.jpg"/>
        </div>
    </div>

    <div id="kb-right-container">
        <div id="kb-login">
            <form id="kb-login-form" action="/login" method="POST">
                <input type="text" name="l_email" placeholder="Email" required>
                <input type="text" name="l_pass" placeholder="Password" required>
                <input type="submit" value="Login">
            </form>
        </div>
        <div id="kb-signup">
            <div id="kb-desc">
                <h1>Join the worlds largest community for knowledge sharing</h1>
            </div>  
            <form id="kb-signup-form" action="/signup" method="POST">
                <input type="text" name="s_fName" placeholder="Firstname" required>
                <input type="text" name="s_lName" placeholder="Lastname" required>
                <input type="text" name="s_email" placeholder="Email" required>
                <input type="text" name="s_pass" placeholder="Password" required>
                <input type="text" name="s_confirmPass" placeholder="Confirm Password" required>
                <input type="submit" value="Signup">
            </form>
        </div>
    </div>


    {{!-- DO NOT UNCOMMENT THESE UNLESS YOU WANT TO ADD TONS OF DATA TO THE DATABASE --}}
    {{!-- <a href="/user/seeddb">SEED USERS</a>
    <a href="/post/seeddb">SEED POSTS</a> --}}

</div>
