<div id="main-container">

    <div id="kb-left-container">
        <div id="kb-title">
            <h1>knowledge<span class="base">Base</span></h1>
        </div>
        <div id="kb-image-container">
            <img id="kb-img" src="/images/hand-holding-bunch-books-with-apple-top_1325-646.jpg"/>
        </div>
    </div>

    <div id="kb-right-container">
        <div id="kb-login">
            <form id="kb-login-form" action="/login" method="POST">
                <input type="text" name="l_email" placeholder="Email" required>
                <input type="password" name="l_pass" placeholder="Password" required>
                <button type="submit">Login</button>
                {{#if errors.failedLogin}}
                <label class="error">Failed Login!</label>
                {{/if}}
            </form>
        </div>
        <div id="kb-signup">
            <div id="kb-desc">
                <h1>Join the worlds largest community for knowledge sharing</h1>
            </div>  
            <form id="kb-signup-form" action="/signup" method="POST">
                <input type="text" name="s_fName" placeholder="Firstname" value='{{newUser.firstname}}' required>
                <input type="text" name="s_lName" placeholder="Lastname" value='{{newUser.lastname}}' required>
                {{#if errors.duplicateEmail}}
                    <label class="error">This email already exists!</label>
                {{/if}}
                <input type="text" name="s_email" placeholder="Email" value='{{newUser.email}}' required>
                <label class="password_label">Password Format (4-12 chars, no special characters)</label>
                <input type="password" pattern="[A-Za-z0-9]{4,12}$" name="s_pass" id="password" onkeyup='check();' placeholder="Password" required>
                <input type="password" name="s_confirmPass" id="confirm_password"  onkeyup='check();' placeholder="Confirm Password" required>
                <label id="password_message"></label>
                <input type="submit" value="Signup">
            </form>
        </div>
    </div>


    {{!-- DO NOT UNCOMMENT THESE UNLESS YOU WANT TO ADD TONS OF DATA TO THE DATABASE --}}
    {{!-- <a href="/user/seeddb">SEED USERS</a>
    <a href="/post/seeddb">SEED POSTS</a> --}}

</div>
