{{>header}}


<div class="newMessage">
    <img src={{userProfile.imageurl}}>
    <form class="reply-form" action="/user/{{userProfile.id}}/message" method="POST">
        <input  name="subject" type="text" maxLength="40" placeholder="Subject" required>
        <textarea name="details" cols="49" rows="4" placeholder="message details..." required></textarea>
        <button type="submit">Message</button>
    </form> 
</div>