<div id="main-container">

    <div id="kb-left-container">
        <div id="kb-title">
            <h1>knowledgeBase</h1>
        </div>
        <div id="kb-info">
            <h2>Let us know a little more about you</h2>
        </div>
    </div>

    <div id="kb-right-container">
        <div id="kb-regis">
            <form id="kb-regis-form" action="/register" method="POST">
                <input type="text" name="r_imageURL" placeholder="Image URL">
                <textarea name="r_about" cols="60" rows="8" placeholder="A few lines about yourself"></textarea>
                <input type="text" name="r_country" placeholder="Country">
                <input type="text" name="r_birth" placeholder="Date of birth (mm/dd/yyyy)">
                <input type="submit" value="Complete Registration">
            </form>
        </div>

    </div>

</div>