/** Messages list for this page */

html {
    height: 100%;
}

body {
    height: 98%;
}

.all-messages {
    display: flex;
    height: 90%;
    margin-left: 2%;
    margin-right: 2%;
}

.message-list {
    width: 300px;
    height: 600px;
    border-right: 1px solid lightgrey;
    overflow-y: auto;
}

.single-message {
    border: 0.5px solid lightgrey;
    display: flex;
}

.msg-pfp {
    height: auto;
    padding-left: 5px;
    padding-right: 5px;    
}

.msg-pfp img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-color: aliceblue;
    border-width: 2px;
    border: 2px solid lightgray;
    margin-top: 10px;
}

.msg-name {
    width: 80%;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.msg-date {
    width: 40%;
    height: auto;
    text-align: right;
    padding-left: 5px;
    padding-right: 10px;
}

/** Replies for this page */

.message-replies {
    position: relative;
    width: 75%;
    height: 600px;
    margin-left: 1%;
    border: 1px solid lightgray;
}

.replies {
    overflow-y: auto;
    height: 500px
}

.message-date-posted {
    text-align: center;
    width: 100%;
    height: auto;
}

.message-reply {
    display: flex;
    height: auto;
}

.msg-reply-pfp {
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.msg-reply-pfp img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-color: aliceblue;
    border-width: 2px;
    border: 2px solid lightgray;
    margin-top: 15px;
}

.msg-reply-body {
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.message-reply-form {
    width: 100%;
    text-align: right;
    background-color: #f2f2f0;
}

.message-reply-form textarea {
    display: block;
    resize: none;
    float: left;
    width: 99.3%;
    height: auto;
}

.message-reply-form input[type="submit"] {
    padding: 5px;
    color: white;
    background-color: mediumslateblue;
    border-color: mediumslateblue;
    text-align: center;
    margin: 10px 40px 10px 0px;
}