
/* Homepage (login/signup) CSS */

#main-container {
    height: 100%;
    width: 800px;
    display: flex;
    margin: 75px auto;
}

#kb-right-container {
    padding-left: 40px;
    width: 400px;
}

#kb-img {
    max-width: 360px;
}

#kb-login {
    width: 100%;
}

#kb-login-form {
    width: 450px;
}

#kb-login-form input {
    margin-left: 5px;
}

#kb-login-form input[type="text"] {
    width: 150px;
    border: none;
    padding: 5px 0px 5px 10px;
    margin: 10px 3px;
    border-radius: 5px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1), 0 0 6px 3px rgba(0, 0, 0, 0.05);
}

#kb-login-form input[type="submit"] {
    text-align: center;
    padding: 1px 10px 3px 10px;
    height: 30px;
    background-color: #069FEB;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1), 0 0 6px 3px rgba(0, 0, 0, 0.05);
}

#kb-login-form input[type="submit"]:hover {
    color: #069FEB;
    background-color: white;
    border-color: #069FEB;
}

#kb-desc {
    margin-top: 40px;
    margin-bottom: -10px;
}

#kb-signup-form {
    max-width: 280px;
}

#kb-signup-form input {
    width: 100%;
    border: none;
    padding: 5px 10px;
    margin: 5px auto;
    border-radius: 5px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1), 0 0 6px 3px rgba(0, 0, 0, 0.05);
}

#kb-signup-form input[type="submit"] {
    text-align: center;
    width: 300px;
    padding: 8px 10px;
    background-color: #069FEB;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1), 0 0 6px 3px rgba(0, 0, 0, 0.05);
}

#kb-signup-form input[type="submit"]:hover {
    color: #069FEB;
    background-color: white;
    border-color: #069FEB;
}

/* CSS related to the registerDetails view, uses some of the container css from home view */

#kb-info {
    width: 400px;
}

#kb-info h2 {
    font-size: 38pt;
}

#kb-regis {
    margin-top: 80px;
    width: 100%;
}

#kb-regis-form {
    text-align: center;
    width: 100%;
}

#kb-regis-form input {
    width: 100%;
    border: none;
    padding: 5px 10px;
    margin: 5px auto;
    border-radius: 5px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1), 0 0 6px 3px rgba(0, 0, 0, 0.05);
}

#kb-regis-form textarea {
    width: 100%;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1), 0 0 6px 3px rgba(0, 0, 0, 0.05);
}

#kb-regis-form button[type="submit"] {
    padding: 7px 20px;
    margin: 5px auto;
    background-color: #069FEB;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1), 0 0 6px 3px rgba(0, 0, 0, 0.05);
}

#kb-regis-form input[type="submit"]:hover {
    color: mediumslateblue;
    background-color: white;
    border-color: mediumslateblue;
}