.profile-section {
    height:100%;
    min-width: 1000px;
}
.profile-head {
    margin: auto;
    width:60%;
    height:400px;
    margin-top: 10px;
}

.profile-left {
    float: left;
    width: 70%;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 8px;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: aliceblue;
    border-width: 2px;
    border: 2px solid lightgray;
}

.profile-info {
    width: 100%;
    font-size: 20px;
}

.profile-name {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.profile-right {
    float:right;
    padding: 100px 20px 100px;
    color: black;
}

.profile-right .num-likes, .profile-right .num-posts {
    color: black;
}


.profile-message-button {
    text-align: center;
    padding: 5px 10px; 
    background-color: #069FEB;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1), 0 0 6px 3px rgba(0, 0, 0, 0.05);
}


.num-likes .add-button{
    text-align: center;
    height: 10px;
    padding: 0px 7px;
    margin-left: 5px; 
    background-color: #069FEB;
    border: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1), 0 0 6px 3px rgba(0, 0, 0, 0.05);
}

.profile-middle {
    margin-left: 20%;
    font-size: 2em;
    font-weight: bold; 
}

.profile-posts {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 600px;
    height: auto;
    padding: 4px;
}

.pfp {
    float: left;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 8px;
}

.pfp img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border-color: aliceblue;
    border-width: 2px;
    border: 2px solid lightgray;
}

.result {
    display: inline-block;
    width: 78%;
    margin-left: 8px;
}

.msg-title {
    display: inline-block;
    width: 75%;
}

.msg-title p {
    margin: 5px;
}

.topic {
    display: inline-block;
    text-align: center;
    float: right;
}

.topic p {
    width: 60px;
    height: 20px;
    padding: 3px 8px;
    color:#069FEB;
    border-radius: 5px;
    border: 1px solid #069FEB;
}

.msg-desc {
    width: 99%;
    margin-left: 10px;
    word-wrap: break-word;
}

.msg-desc p {
    margin: 12px 2px 12px 2px;
}

.date-posted {
    width: 49%;
    display: inline-block;
}

.date-posted p {
    margin: 5px 15px 5px 15px;
    text-align: left;
}

.num-replies {
    text-align: right;
    width: 48%;
    display: inline-block;
    cursor: pointer;
}

.num-replies p {
    margin: 5px 15px 5px 15px;
    text-align: right;
    text-decoration: underline;
}

.reply{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rep-msg{
    width: 70%;
    word-wrap: break-word;
}

.replies {
    display: none;
}

.reply-form{
    
}
.replyBox{
    width: 100%;
    border: none;
    padding: 5px 0px 5px 10px;
    box-sizing: border-box;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1), 0 0 6px 3px rgba(0, 0, 0, 0.05);
}
.submitBtn{
    float: right;
    padding: 3px 10px; 
    box-sizing: border-box;
    background-color: #069FEB;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1), 0 0 6px 3px rgba(0, 0, 0, 0.05);
}