.profile-section {
    height:100%;
    min-width: 1000px;
}
.profile-head {
    margin: auto;
    width:60%;
    height:400px;
    margin-top: 10px;
}

.profile-left {
    float: left;
    width: 70%;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 8px;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: aliceblue;
    border-width: 2px;
    border: 2px solid lightgray;
}

.profile-info {
    width: 100%;
    font-size: 20px;
}

.profile-name {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.profile-right {
    float:right;
    padding: 100px 20px 100px;
}

.button {
    background-color: .008CBA; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.num-likes p{
    color:blue;
}

.num-likes .add-button{
    margin-left: 10px;
    padding: 5px 10px;
    background-color: .008CBA; /* Green */
    border: none;
    border-radius: 50%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
}

.num-posts {
        color:blue;
}

.profile-middle {
    margin-left: 20%;
    font-size: 2em;
    font-weight: bold; 
}

.profile-posts {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 470px;
    height: auto;
    padding: 4px;
    border: 2px solid lightgray;
}

.pfp {
    float: left;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 8px;
}

.pfp img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border-color: aliceblue;
    border-width: 2px;
    border: 2px solid lightgray;
}

.result {
    display: inline-block;
    width: 78%;
    margin-left: 8px;
}

.msg-title {
    display: inline-block;
    width: 75%;
}

.msg-title p {
    margin: 5px;
}

.topic {
    display: inline-block;
    width: 22%;
    background-color: white;
    color: lightskyblue;
    text-align: center;
}

.topic p {
    border: 1px solid lightskyblue;
    margin: 5px;
}

.msg-desc {
    width: 99%;
    margin-left: 10px;
    word-wrap: break-word;
}

.msg-desc p {
    margin: 12px 2px 12px 2px;
}

.date-posted {
    width: 49%;
    display: inline-block;
}

.date-posted p {
    margin: 5px 15px 5px 15px;
    text-align: left;
}

.num-replies {
    text-align: right;
    width: 48%;
    display: inline-block;
}

.num-replies p {
    margin: 5px 15px 5px 15px;
    text-align: right;
}

.reply{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.rep-msg{
    width: 70%;
    word-wrap: break-word;
}
.reply-form{
    
}
.replyBox{
    border: solid;
    border-width: 1.5px;
    border-color: lightgray;
    width: 90%;
}
.submitBtn{
    background-color: rgb(0, 183, 255);
    border-style: none;
    color: white;
    font-size: 100%;
    float: right;
    margin-right: 10%;
}